.display-none {
    display: none;
}

#container_warp {
    width: 90%;
}

.editor {
    height: 400px;

}

.add_new_chart{
    margin-top: 10px;
    display: none;
}

.chart {
    padding: 10px;
    background: #ddd;
    background-clip: content-box;
}

.chart_edit_area {
    display: none;
}
